.contentbox{
        height: 100px;
        width: 100px; 
        border: 2px solid black ;
        display: inline-block;
        color: black;
}
#contant{
    height: 600px;
}


*{
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;

}
#footer{
    color: black;
    background-color:  #0f1111;
    color: white;
    text-align: center;

}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}

#text{
    color: black;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
}
 